/* ESTILOS GENERALES */
/* TEXTOS */
p {
  font-family: 'Quicksand';
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato';
}

/* IMÁGENES */
.fakeimg {
  height: 200px;
  background: #333333;
}

/* HEADER */
.header {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.p-header {
  margin-top: 0.5%;
}

.p-text-header {
  font-size: 25px;
}

.title {
  display: inline-block;
}

video {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
}

/* BODY */
body {
  background-image: url(../imgs/fondo-blanco.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}